doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/dist/stylesheets/login.css')
    title test
  body
    h1 login
    form(action='', method='post', class='form')
      input#email(type='text', name='email', placeholder='email', class='form__input')
      br
      input#password(type='password', name='password', placeholder='password', class='form__input')
      br
      button.form__submit login
    h3 Nog geen account?
    a(href='signin') sign in