doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title test
  body
    h1 login
    form(action='', method='post')
      input#email(type='text', name='email', placeholder='email')
      br
      input#password(type='password', name='password', placeholder='password')
      br
      button login
    h3 Nog geen account?
    a(href='signin') sign in