doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title test
  body
    h1 login
    form(action='', method='post')
      input#username(type='text', name='username', placeholder='username')
      br
      input#password(type='password', name='password', placeholder='password')
    h3 Nog geen account?
    a(href='signin') sign in